*{
  font-family: 'PT Serif', Segoe UI, Tahoma, Geneva, Verdana, sans-serif; /* Nueva fuente agregada */
  box-sizing: border-box; 
  }

body{
    background-color: #353535;
    color: #ffffff;

}
.header {
    top: 0;
    width: 100%;

}
.navbar {
  background-color: #ffffff;
  padding: 10px;
  display: flex;
  justify-content: space-between; 
  align-items: center;            
  gap: 20px;
  flex-wrap: wrap;
}

.nav__menu {
  display: flex;
  gap: 20px;
  justify-content: flex-end; 
  flex: 1;                   
}

.navbar a {
  color: #353535;
  text-decoration: none;
  font-weight: bold;
  font-size: 23px;
  transition: color 0.3s;
}

.navbar li {
  list-style: none;
  display: flex;
  align-items: center;
}

#listaimg img {
  width: 60px;              
  border-radius: 8px;
}



.navbar a:hover {
    color: #D9D9D9;
}

.hero span {
    color: #7c6e6e;
    display: flex;
    margin-left: 35px;
    
}
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.hero p {
    color: #ffffff;
    margin-left: 35px;
    font-size: 18px;
    line-height: 1.6;
    display: flex;
    flex: 1;
    justify-content: flex-end;
}
.hero-text h1 {
    font-size: 48px;

}
.card{
  display: flex;
  background-color: #ffffff;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: 280px;
  border-radius: 8px;
  border: 7px solid #3C6E71;
}
.card img {
  width: 100%;
  max-width: 250px;
  border-radius: 8px;

}

.card h3 {
  color: #353535;
  margin: 15px 0 10px 0;
}

.card p {
  color: #7c6e6e;
  margin: 0 15px 15px 15px;
}
.card-group {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin: 40px 0;
  flex-wrap: wrap;
  
}
.card a{
  text-decoration: none;
  color: #353535;
  font-weight: bold;
  background-color: #D9D9D9;
  margin: 10px 0 20px 0;
}
.tecnologias{
  padding: 40px;
  color: #fff; 
  text-align: center; 
}
.tecnologias h2 { 
  font-size: 28px; 
  margin-bottom: 20px; 
  color: #f0f0f0; 
}
.tecnologias ul { 
  display: flex;
  list-style: none; 
  padding: 0; 
  margin: 0 auto; 
  max-width: 800px; 
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
}

.tecnologias li { 
  background-color: #444; 
  border-radius: 8px; 
  box-shadow: 0 2px 6px rgba(0,0,0,0.2); 
  font-weight: bold; 
  margin: 10px;
  width: 150px ;
  flex-grow: 2;

}
.tecnologias li:hover { 
  background-color: #666; 
}
.acerca-de-mi {
  padding: 40px;
  color: #fff;
}

.acerca-contenido {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.acerca-contenido img {
  width: 250px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.texto {
  flex: 1;
  min-width: 300px;
  margin-left: 50px;
}

.texto h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.texto p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: justify;
}

.trayectoria h3 {
  margin-bottom: 10px;
}


.trayectoria li {
  background-color: #444;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 6px;
}
.redes-sociales {
    padding: 40px;
    color: #fff;
}
.redes-sociales h2 {
    font-size: 28px;
    margin-bottom: 20px;
}
.redes-sociales ol {
    list-style: none;
    padding: 0;
}
.redes-sociales li {
    background-color: #444;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 6px;
    text-align: center;
}
.redes-sociales a {
    color: #D9D9D9;
    text-decoration: none;
    font-weight: bold;
}

.site-footer {
    background-color: #8c8989;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    border-top: 1px solid #6c6a6a;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.site-footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.site-footer ul li a {
    color: #fff;
    text-decoration: none;
}

.cookie-footer {
  position: fixed; 
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #222; 
  color: #fff; 
  padding: 1em;
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  z-index: 2000;
  gap: 12px;
}

.cookie-footer button {
  background-color: #4caf50; 
  color: white;
  border: none;
  padding: 0.5em 1em;
  cursor: pointer;
}

.cookie-footer button:hover {
  background-color: #45a049; 
}

@media (max-width: 600px) {
  .nav__menu {
    display: none;
  }

  .nav__panel {
    display: none;
    flex-direction: column;
    background-color: #ffffff;
    position: absolute;
    top: 60px;
    right: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    z-index: 1001;
  }

  .nav__toggle {
    display: block;
    margin-left: auto;   
  }
}

@media (min-width: 600px) and (max-width: 1024px) {
    .nav__panel {
    display: none;
  }
  .nav__toggle {
    display: none;
}


}

@media (min-width: 1024px) {
  .nav__panel {
    display: none;
  }
  .nav__toggle {
    display: none;
}
}