*{
  font-family: 'PT Serif', Segoe UI, Tahoma, Geneva, Verdana, sans-serif; /* Nueva fuente agregada */
  box-sizing: border-box; 
  }

body{
    background-color: #cebebe;
    color: #6d2e46;

}

button {

  background-color: grey; 

  color: white;

  padding: 10px 20px;

  border: none;

  cursor: pointer;

}

button:hover {

  background-color: blue; 
}

.resaltado {
    color: rgb(72, 59, 41);
    font-weight: bold;
}

.mi-clase {
    background-color: lightgray;
    display: inline-block;
    font-style: oblique;
}
.card {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    max-width: 400px;
    margin: 20px auto;
    display: block ;   
}

.card-group {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    max-width: 400px;
    margin: 20px auto;
    position: static ;
    display: inline-block ;
    margin-top: 20px ;
}
.card img {
    width: 100%;
    border-radius: 50%;
    display: block;
    margin: auto;
    border-radius: 50%  ;
    
}
.card a {
    color: #1e90ff;
    text-decoration: none;
}

.card p {
    color: #333;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}

#parrafo-sobre-mi {
    font-size: 18px;
    line-height: 1.6;
    color: #4a4a4a;
    margin: 20px;
    text-align: center
}

p{
    font-size: 16px;
    line-height: 1.5;
    color: #333 !important ;
}
#mi-clase {
    font-weight: bold;
    color: #2c3e50;
    position: sticky;
    top: 0;
    background-color: rgb(241, 193, 150);
}

.overlay-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}

.overlay-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* 
p span {
    font-size: 20px;
    color: #1e90ff !important;
} */