body{
    background-color: antiquewhite;
}

.start {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    color: darkblue;
}

img{
    display: block;
    width: 200px;
    border-radius: 50%;
    border-color: black;
}
button {

  background-color: grey; 

  color: white;

  padding: 10px 20px;

  border: none;

  cursor: pointer;

}

button:hover {

  background-color: blue; 
}